@import url("https://use.typekit.net/fss0kdc.css");


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


@font-face {
  font-family: "afcarpla";
  src: url("./afcarpla.otf");
}

@font-face {
  font-family: "BebasNeue";
  src: url("./BebasNeue.otf");
}



.title{
  font-family: "brush-script-std", sans-serif !important;
  text-transform: capitalize !important; 
  font-size: 3vw !important;
  
}


h4 {
    font-family: "BebasNeue", sans-serif !important;
    text-transform: uppercase !important;
}


.description.text{
 font-family: "Poppins", sans-serif !important;
 text-transform: lowercase !important;
}

.title.text{
 font-family: "futura-pt", sans-serif !important;
 text-transform: lowercase !important;
 font-style: italic !important;
}

h2{
  font-family: "BebasNeue", sans-serif !important;
}
